<div class="d-flex align-items-center gap-3 mb-3">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Navigation
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item" href="/dashboard">Zum Dashboard</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="/dashboard/state-changes">Statusänderungen Log</a></li>
      <li><a class="dropdown-item" href="/dashboard/lichtschranke">Lichtschranke Log</a></li>
      <li><a class="dropdown-item" href="/dashboard/bewegungssensor">Bewegungssensor Log</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="/create-user">Benutzer erstellen</a></li>
    </ul>
  </div>
  <div class="system-status">
    <span class="badge fs-6 <%= sys_state ? 'text-bg-success' : 'text-bg-danger' %>">
      System ist <%= sys_state ? 'aktiviert' : 'deaktiviert' %>
    </span>
  </div>
  <div class="ms-auto">
    <form action="/logout" method="POST" class="d-inline">
      <button type="submit" class="btn btn-danger">
        <i class="bi bi-box-arrow-right"></i> Logout
      </button>
    </form>
  </div>
</div>